
body{
    background-color: #f9f4ef;
    color: #716040;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

    font-size: 20px;
    margin: 0;
}

header{
    text-align: center;
    text-transform: uppercase;
    color: #020826;

    font-family: cursive;

    background-color: #8c7851;
    padding-top: 50px;
    padding-bottom: 50px;
    
    margin-bottom: 50px;
}

.container {
    width: 75%;
    max-width: 1000px;

    margin: 0 auto;
}

p {
    font-size: 16px;
}

section {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

aside ul {
    font-size: 16px;
}

#last_paragraph {
    margin-bottom: 60px;
}


footer {
    clear: both;

    background-color: #8c7851;
    color: #020826;

    padding: 50px 0;
    text-align: center;

}